__pycache__
**/*.o
**/*.so
**/*.dll
**/*.la
**/*.lo
**/*.tar.gz
.*
**/.*
ffi/tests
ffi/Makefile

**/.deps
**/.libs
ffi/autom4te.cache
ffi/config.log
ffi/config.status
ffi/*~
ffi/libtool
docs/build
docs/source/generated
